<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ssen.translate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6CABD3C2-CE78-4616-8367-252EE56C147B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BC60D4-CD61-442D-84D8-CBDAC8FDEE35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D06F4652-A7B5-4478-81B0-5E1EDA37A4CE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>770DBA9F-87DC-4062-87CD-1DA5C0AD1027</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BC60D4-CD61-442D-84D8-CBDAC8FDEE35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D06F4652-A7B5-4478-81B0-5E1EDA37A4CE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1F7BBB9-B7BA-4229-BA92-28FB665DAF3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69B6B859-A0CA-4C69-9630-34B888958545</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>043E1203-61BF-4138-8644-C124D03F0F5D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lee Seoyeon</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Google Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./popup.py "en" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68BC60D4-CD61-442D-84D8-CBDAC8FDEE35</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>ko → en</string>
				<key>text</key>
				<string>Google Translate</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>770DBA9F-87DC-4062-87CD-1DA5C0AD1027</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/m/translate?tl=en&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D06F4652-A7B5-4478-81B0-5E1EDA37A4CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>en</string>
				<key>subtext</key>
				<string>ko → en</string>
				<key>text</key>
				<string>Google Translate</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CABD3C2-CE78-4616-8367-252EE56C147B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./popup.py "ko" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69B6B859-A0CA-4C69-9630-34B888958545</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ko</string>
				<key>subtext</key>
				<string>en → ko</string>
				<key>text</key>
				<string>Google Translate</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1F7BBB9-B7BA-4229-BA92-28FB665DAF3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/m/translate?tl=ko&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>043E1203-61BF-4138-8644-C124D03F0F5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>043E1203-61BF-4138-8644-C124D03F0F5D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>68BC60D4-CD61-442D-84D8-CBDAC8FDEE35</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>69B6B859-A0CA-4C69-9630-34B888958545</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>6CABD3C2-CE78-4616-8367-252EE56C147B</key>
		<dict>
			<key>note</key>
			<string>ko → en</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>770DBA9F-87DC-4062-87CD-1DA5C0AD1027</key>
		<dict>
			<key>note</key>
			<string>default ko → en</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D06F4652-A7B5-4478-81B0-5E1EDA37A4CE</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D1F7BBB9-B7BA-4229-BA92-28FB665DAF3C</key>
		<dict>
			<key>note</key>
			<string>en → ko</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
